<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <!-- Tailwind CSS from CDN for development purposes -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="./output.css" rel="stylesheet">
</head>

<body class="font-sans antialiased bg-gray-100 flex flex-col min-h-screen">

<!-- Navbar -->
<nav class="bg-gray-800 text-white p-4 text-lg sm:text-xl"> <!-- Responsive font size -->
    <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center">
            <img src="/images/logoWhite.png" alt="Logo" class="object-cover h-32 w-32 rounded-lg">
            <h1 class="text-2xl font-semibold ml-4 sm:text-3xl">Tech Harbor</h1> <!-- Responsive font size -->
        </div>
        <ul class="flex space-x-8">
            <li><a href="/" class="hover:text-emerald-500">Home</a></li>
            <li><a th:href="@{'/aboutUs'}" class="text-emerald-500 hover:text-emerald-500">About Us</a></li>
            <li th:if="${user != null}">
                <a th:href="@{'/orders/{id}' (id=${user.userId})}" class="hover:text-emerald-500">My Orders</a>
            </li>
            <li th:if="${user != null}">
                <a th:href="@{'/reviews/{id}' (id=${user.userId})}" class="hover:text-emerald-500">My Reviews</a>
            </li>
            <li th:if="${deliveryMan != null}">
                <a th:href="@{'/myDeliveries/{id}' (id=${deliveryMan.userId})}" class="hover:text-emerald-500">My Deliveries</a>
            </li>
        </ul>
        <ul class="flex space-x-4">
            <li th:if="${user != null}">
                <span>Welcome  <span th:text="${user.nameUser}"></span></span>
            </li>
            <li th:if="${deliveryMan != null}">
                <span>Welcome Delivery Man <span th:text="${deliveryMan.nameUser}"></span></span>
            </li>
            <li th:if="${user != null}">
                <a th:href="@{'/shoppingCart'}"><i class="fa-solid fa-cart-shopping"></i></a>
            </li>
            <li th:if="${user != null || deliveryMan != null}">
                <a class="hover:text-emerald-500" th:href="@{/logout}">Log out</a>
            </li>
            <li th:if="${user == null && deliveryMan == null}">
                <a th:href="@{/login}" class="hover:text-emerald-500">Sign In</a>
            </li>
            <li th:if="${user == null && deliveryMan == null}">
                <a th:href="@{/register}" class="hover:text-emerald-500">Register</a>
            </li>
        </ul>

    </div>
</nav>

<main class="container mx-auto mt-8 flex-grow">

<div class="max-w-5xl mx-auto py-8">
    <div class="center"> <!-- Added mx-auto to center the content -->
        <div class="bg-white p-8 rounded-md shadow-md flex items-center justify-between">
            <div>
                <h2 class="text-3xl font-semibold mb-4">About Us</h2>
                <p class="text-lg leading-relaxed">
                    This is a group project by the name TechHarbor where we were striving to develop a more modern web
                    application that allows users to buy products online that will be delivered to their address. The
                    online application will provide a detailed overview of the products, which will be categorized to
                    simplify the search process.
                </p>
                <p class="text-lg leading-relaxed mt-4">
                    When entering the application, users with an existing user account will be able to easily log in and
                    access all functionalities, for new users, the application enables quick and simple registration,
                    which will enable the purchase of products and their delivery.
                </p>
                <p class="text-lg leading-relaxed mt-4">
                    It is important to emphasize that with our web application, users are not required to log in to the
                    site to view the products that are available. It's easy to use the app as a guest, but in this way,
                    users don't have the option to buy the products. This functionality gives users the freedom to test
                    the application before deciding to create their own account that allows the use of all the advanced
                    functionalities that the application offers.
                </p>
            </div>
            <img src="/images/logo.png" alt="Logo" class="object-cover h-52 w-52 rounded-lg">
        </div>
    </div>
</div>

</main>


<!-- Footer -->
<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 Tech Harbor. All rights reserved.™
    </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a th:href="@{'/aboutUs'}" class="hover:underline me-4 md:me-6">About</a>
            </li>
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
            </li>
            <li>
                <a href="#" class="hover:underline">Contact</a>
            </li>
        </ul>
    </div>
</footer>

</body>

</html>
