<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <!-- Add your CSS styles or links to external stylesheets if needed -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- Tailwind CSS from CDN for development purposes -->
    <script src="https://cdn.tailwindcss.com"></script>

    <link href="./output.css" rel="stylesheet">
</head>
<body class="font-sans antialiased bg-gray-100 flex flex-col min-h-screen">

<nav class="bg-gray-800 text-white p-4 text-lg sm:text-xl"> <!-- Responsive font size -->
    <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center">
            <img src="/images/logoWhite.png" alt="Logo" class="object-cover h-32 w-32 rounded-lg">
            <h1 class="text-2xl font-semibold ml-4 sm:text-3xl">Tech Harbor</h1> <!-- Responsive font size -->
        </div>
        <ul class="flex space-x-8">
            <li><a href="/" class="hover:text-emerald-500">Home</a></li>
            <li><a th:href="@{'/aboutUs'}" class="hover:text-emerald-500">About Us</a></li>
            <li th:if="${user != null}">
                <a th:href="@{'/orders/{id}' (id=${user.userId})}" class="hover:text-emerald-500">My Orders</a>
            </li>
            <li th:if="${user != null}">
                <a th:href="@{'/reviews/{id}' (id=${user.userId})}" class="hover:text-emerald-500">My Reviews</a>
            </li>
        </ul>
        <ul class="flex space-x-4">
            <li th:if="${user != null}">
                <span>Welcome  <span th:text="${user.nameUser}"></span></span>
            </li>
            <li th:if="${user != null}">
                <a><i class="fa-solid fa-cart-shopping"></i></a>
            </li>
            <li th:if="${user != null}">
                <a class="hover:text-emerald-500" th:href="@{/logout}">Log out</a>
            </li>
            <li th:if="${user == null}">
                <a th:href="@{/login}" class="hover:text-emerald-500">Sign In</a>
            </li>
            <li th:if="${user == null}">
                <a th:href="@{/register}" class="hover:text-emerald-500">Register</a>
            </li>
        </ul>

    </div>
</nav>

<main class="container mx-auto mt-8 flex-grow">

    <form th:method="get" th:action="@{'/finalizeOrder'}">
        <div class="max-w-5xl mx-auto py-8 grid grid-cols-1 md:grid-cols-2 gap-4 font-sans mb-auto">
            <!-- Billing Details -->
            <div class="p-4">
                <h2 class="text-2xl font-semibold mb-4">Billing Details</h2>
                <form>
                    <div class="mb-4">
                        <label for="name" class="block text-gray-700">Name</label>
                        <input type="text" id="name" name="name" class="w-full border p-2">
                    </div>
                    <div class="mb-4">
                        <label for="email" class="block text-gray-700">Email</label>
                        <input type="email" id="email" name="email" class="w-full border p-2">
                    </div>
                    <div class="mb-4">
                        <label for="address" class="block text-gray-700">Address</label>
                        <input type="text" id="address" name="address" class="w-full border p-2">
                    </div>
                    <div class="mb-4">
                        <label for="country" class="block text-gray-700">Country</label>
                        <input type="text" id="country" name="country" class="w-full border p-2">
                    </div>
                    <div class="mb-4">
                        <label for="phonenumber" class="block text-gray-700">Phone Number</label>
                        <input type="tel" id="phonenumber" name="phonenumber" class="w-full border p-2">
                    </div>
                    <div class="mb-4 flex">
                        <div class="mr-2 w-1/2">
                            <label for="city" class="block text-gray-700">City</label>
                            <input type="text" id="city" name="city" class="w-full border p-2">
                        </div>
                        <div class="ml-2 w-1/2">
                            <label for="postalcode" class="block text-gray-700">Postal Code</label>
                            <input type="text" id="postalcode" name="postalcode" class="w-full border p-2">
                        </div>
                    </div>
                    <!-- Add other billing details fields as needed -->

                    <!-- Credit Card Details -->
                    <h2 class="text-2xl font-semibold mb-4 mt-8">Credit Card Details</h2>
                    <div class="mb-4">
                        <label for="cardholdername" class="block text-gray-700">Card Holder Name</label>
                        <input type="text" id="cardholdername" name="cardholdername" class="w-full border p-2">
                    </div>
                    <div class="mb-4">
                        <label for="cardnumber" class="block text-gray-700">Card Number</label>
                        <input type="text" id="cardnumber" name="cardnumber" class="w-full border p-2">
                    </div>
                    <div class="mb-4">
                        <label for="expirydate" class="block text-gray-700">Expiry Date</label>
                        <input type="text" id="expirydate" name="expirydate" placeholder="MM/YYYY"
                               class="w-full border p-2">
                    </div>
                    <div class="mb-4">
                        <label for="securitycode" class="block text-gray-700">Security Code (CVV)</label>
                        <input type="text" id="securitycode" name="securitycode" class="w-full border p-2">
                    </div>
                    <!-- Add other credit card details fields as needed -->
                </form>
            </div>
            <!-- Cart Summary -->
            <div class="p-4 bg-gray-700 rounded-md shadow-md text-white">
                <h2 class="text-2xl font-semibold mb-4">Cart Summary</h2>
                <table class="w-full border-collapse border border-gray-800">
                    <thead>
                    <tr>
                        <th class="text-center py-2">Product Image</th>
                        <th class="text-center py-2">Product Name</th>
                        <th class="text-center py-2">Product Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${cartItems}">
                        <td class="py-2">
                            <img th:src="${product.getProductImage()}" alt="Product Image"
                                 class="mx-auto w-30 h-20"></td>
                        <td class="text-center py-2" th:text="${product.getProductName()}"></td>
                        <td class="text-center py-2" th:text="${product.getProductPrice()}"></td>
                    </tr>
                    </tbody>
                </table>

                <div class="flex items-center justify-end mt-4">
                    <span class="font-bold text-lg mr-8" th:text="'Total: ' + ${grandTotal} + ' ден.'"></span>
                    <button type="submit" class="px-4 py-2 bg-emerald-500 text-white rounded-md hover:bg-emerald-600">
                        Proceed
                    </button>
                </div>
            </div>
        </div>
    </form>

</main>

<!-- Footer -->
<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 Tech Harbor. All rights reserved.™
    </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a th:href="@{'/aboutUs'}" class="hover:underline me-4 md:me-6">About</a>
            </li>
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
            </li>
            <li>
                <a href="#" class="hover:underline">Contact</a>
            </li>
        </ul>
    </div>
</footer>

</body>
</html>
