<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- Tailwind CSS from CDN for development purposes -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="./output.css" rel="stylesheet">
    <style>
        .subcategory {
            display: none;
        }

        .category-item:hover .subcategory {
            display: block;
            right: 0; /* Adjust the position to the right */
            top: 0;
            background-color: #4a5568; /* Change the background color */
            padding: 1rem;
            z-index: 10;
            width: 240px; /* Increase the width */
            border: 2px solid;
            border-radius: 5px;
        }
    </style>
</head>

<body class="bg-gray-100 font-sans flex flex-col min-h-screen">

<!-- Navbar -->
<nav class="bg-gray-800 text-white p-4 text-lg sm:text-xl"> <!-- Responsive font size -->
    <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center">
            <img src="/images/logoWhite.png" alt="Logo" class="object-cover h-32 w-32 rounded-lg">
            <h1 class="text-2xl font-semibold ml-4 sm:text-3xl">Tech Harbor</h1> <!-- Responsive font size -->
        </div>
        <ul class="flex space-x-8">
            <li><a href="/" class="hover:text-emerald-500">Home</a></li>
            <li><a th:href="@{'/aboutUs'}" class="hover:text-emerald-500">About Us</a></li>
            <li th:if="${user != null}">
                <a th:href="@{'/orders/{id}' (id=${user.userId})}" class="hover:text-emerald-500">My Orders</a>
            </li>
            <li th:if="${user != null}">
                <a th:href="@{'/reviews/{id}' (id=${user.userId})}" class="hover:text-emerald-500">My Reviews</a>
            </li>
            <li th:if="${deliveryMan != null}">
                <a th:href="@{'/myDeliveries/{id}' (id=${deliveryMan.userId})}" class="hover:text-emerald-500">My
                    Deliveries</a>
            </li>
        </ul>
        <ul class="flex space-x-4">
            <li th:if="${user != null}">
                <span>Welcome  <span th:text="${user.nameUser}"></span></span>
            </li>
            <li th:if="${deliveryMan != null}">
                <span>Welcome Delivery Man <span th:text="${deliveryMan.nameUser}"></span></span>
            </li>
            <li th:if="${user != null}">
                <a th:href="@{'/shoppingCart'}"><i class="fa-solid fa-cart-shopping"></i></a>
            </li>
            <li th:if="${user != null || deliveryMan != null}">
                <a class="hover:text-emerald-500" th:href="@{/logout}">Log out</a>
            </li>
            <li th:if="${user == null && deliveryMan == null}">
                <a th:href="@{/login}" class="hover:text-emerald-500">Sign In</a>
            </li>
            <li th:if="${user == null && deliveryMan == null}">
                <a th:href="@{/register}" class="hover:text-emerald-500">Register</a>
            </li>
        </ul>

    </div>
</nav>

<main class="container mx-auto mt-8 flex-grow">


    <!-- Main Content -->
    <div class="container mx-auto mt-8 mb-auto">
        <div class="flex flex-col sm:flex-row"> <!-- Flex direction column for small screens, row for larger screens -->
            <!-- Categories -->
            <div class="inline-block sm:w-1/6 bg-gray-800 shadow-lg rounded-lg p-4 m-2 mr-0 sm:mr-10 text-center text-white text-lg mb-auto">
                <h2 class="text-xl font-semibold mb-4">Categories</h2>
                <hr>
                <ul class="relative">
                    <li th:each="cat : ${categories}" class="m-5 hover:text-emerald-500 category-item relative">
                        <a th:text="${cat.categoryName}"
                           th:value="${cat.categoryId}"
                           th:href="@{'/category/' + ${cat.categoryName}}"
                           th:id="${cat.categoryId}"
                           class="text-white-500 hover:text-emerald-500">
                        </a>
                        <div class="subcategory ml-8"> <!-- Separate div for subcategories -->
                            <ul>
                                <li th:each="subcat : ${subcategories}"
                                    th:if="${subcat.categoryId} == ${cat.categoryId}">
                                    <a th:text="${subcat.subcategoryName}"
                                       th:value="${subcat.subcategoryId}"
                                       th:href="@{'/category/subcategory/' + ${subcat.subcategoryName}}"
                                       th:id="${subcat.subcategoryId}"
                                       class="text-white-500 hover:text-emerald-500">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Hot Products -->
            <div class="w-full sm:w-3/4"> <!-- Full width for small screens, 3/4 width for larger screens -->
                <div class="flex justify-between items-center mb-4">
                    <h2 class="text-xl font-semibold">Hot Products</h2>
                    <form th:action="@{/filter}" method="post">
                        <label>
                            <input type="text" name="name" placeholder="Search..."
                                   class="px-4 py-2 border border-gray-300 rounded-lg focus:outline-none">
                        </label>
                    </form>
                </div>
                <!-- Product Grid -->
                <div class="grid grid-cols-1 sm:grid-cols-3 gap-8 flex-grow">
                    <!-- 1 column for small screens, 3 columns for larger screens -->
                    <!-- Product Card -->
                    <div th:each="product : ${filteredProducts}" class="bg-white shadow-lg rounded-lg p-4">
                        <img src="../static/images/intel_core_i7.jpg" th:src="${product.productImage}"
                             alt="Product Image"
                             class="mb-4 rounded-lg object-scale-down h-48 w-96">
                        <a th:href="@{'/product/{id}' (id=${product.productId})}">
                            <h3 th:text="${product.productName}" class="font-semibold text-lg mb-2">asd</h3>
                        </a>
                        <p th:attr="title=${product.productDescription}" class="text-gray-600 overflow-hidden"
                           style="height: 150px;">
                            <span th:text="${product.productDescription.length() &gt; 142 ? product.productDescription.substring(0, 142) + '...' : product.productDescription}"></span>
                        </p>
                        <div class="mt-4 flex justify-between items-center">
                            <span th:text="${product.productPrice + ' ден.'}"
                                  class="text-gray-800 font-semibold"></span>
                            <a th:href="${user != null} ? @{'/shoppingCart/' + ${product.productId}} : '/login'"
                               class="px-4 py-2 bg-indigo-500 text-white font-bold rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Add to Cart
                            </a>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</main>

<!-- Footer -->
<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 Tech Harbor. All rights reserved.™
    </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a th:href="@{'/aboutUs'}" class="hover:underline me-4 md:me-6">About</a>
            </li>
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
            </li>
            <li>
                <a href="#" class="hover:underline">Contact</a>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>




