<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
    <!-- Tailwind CSS from CDN for development purposes -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="./output.css" rel="stylesheet">
</head>

<body class="font-sans antialiased bg-gray-100 flex flex-col min-h-screen">

<nav class="bg-gray-800 text-white p-4 text-lg sm:text-xl">
    <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center">
            <img src="/images/logoWhite.png" alt="Logo" class="object-cover h-32 w-32 rounded-lg">
            <h1 class="text-2xl font-semibold ml-4 sm:text-3xl">Tech Harbor</h1>
        </div>
        <ul class="flex space-x-8">
            <li><a href="/" class="hover:text-emerald-500">Home</a></li>
            <li><a th:href="@{'/aboutUs'}" class="hover:text-emerald-500">About Us</a></li>
            <li th:if="${user != null}">
                <a th:href="@{'/orders/{id}' (id=${user.userId})}" class="hover:text-emerald-500">My Orders</a>
            </li>
            <li th:if="${user != null}">
                <a th:href="@{'/reviews/{id}' (id=${user.userId})}" class="text-emerald-500 hover:text-emerald-500">My
                    Reviews</a>
            </li>
        </ul>
        <ul class="flex space-x-4">
            <li th:if="${user != null}">
                <span>Welcome <span th:text="${user.nameUser}"></span></span>
            </li>
            <li th:if="${user != null}">
                <a th:href="@{'/shoppingCart'}"><i class="fa-solid fa-cart-shopping"></i></a>
            </li>
            <li th:if="${user != null}">
                <a class="hover:text-emerald-500" th:href="@{/logout}">Log out</a>
            </li>
            <li th:if="${user == null}">
                <a th:href="@{/login}" class="hover:text-emerald-500">Sign In</a>
            </li>
            <li th:if="${user == null}">
                <a th:href="@{/register}" class="hover:text-emerald-500">Register</a>
            </li>
        </ul>
    </div>
</nav>

<main class="container mx-auto mt-8 flex-grow">


    <div class="max-w-5xl mx-auto py-8 grid grid-cols-1 md:grid-cols-2 gap-4 font-sans">
        <div class="card bg-gray-700 p-4 rounded-md shadow-md text-white col-span-1 md:col-span-full">
            <div class="mb-4">
                <h2 class="text-2xl font-semibold text-white">My Reviews</h2>
            </div>
            <div class="mb-4">
                <table class="w-full text-left border-collapse border border-gray-800">
                    <thead>
                    <tr class="bg-gray-800 text-white text-center">
                        <th class="px-4 py-2">Product Name</th>
                        <th class="px-4 py-2">Description</th>
                        <th class="px-4 py-2">Rating</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="review,iterator : ${reviews} " class="hover:bg-gray-600 text-center">
                        <td class="px-4 py-2 border border-gray-800"
                            th:text="${products.get(iterator.index).getProductName()}"></td>
                        <td class="px-4 py-2 border border-gray-800" th:text="${review.reviewDescription}"></td>
                        <td class="px-4 py-2 border border-gray-800" th:text="${review.reviewRating}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<!-- Footer -->
<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 Tech Harbor. All rights reserved.™
    </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a th:href="@{'/aboutUs'}" class="hover:underline me-4 md:me-6">About</a>
            </li>
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
            </li>
            <li>
                <a href="#" class="hover:underline">Contact</a>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>