<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <!-- Tailwind CSS from CDN for development purposes -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="./output.css" rel="stylesheet">
</head>

<body class="font-sans antialiased bg-gray-100 flex flex-col min-h-screen">

<nav class="bg-gray-800 text-white p-4 text-lg sm:text-xl"> <!-- Responsive font size -->
    <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center">
            <img src="/images/logoWhite.png" alt="Logo" class="object-cover h-32 w-32 rounded-lg">
            <h1 class="text-2xl font-semibold ml-4 sm:text-3xl">Tech Harbor</h1> <!-- Responsive font size -->
        </div>
        <ul class="flex space-x-8">
            <li><a href="/" class="text-emerald-500 hover:text-emerald-500">Home</a></li>
            <li><a th:href="@{'/aboutUs'}" class="hover:text-emerald-500">About Us</a></li>
            <li th:if="${user != null}">
                <a th:href="@{'/orders/{id}' (id=${user.userId})}" class="hover:text-emerald-500">My Orders</a>
            </li>
            <li th:if="${user != null}">
                <a th:href="@{'/reviews/{id}' (id=${user.userId})}" class="hover:text-emerald-500">My Reviews</a>
            </li>
            <li th:if="${deliveryMan != null}">
                <a th:href="@{'/myDeliveries/{id}' (id=${deliveryMan.userId})}" class="hover:text-emerald-500">My
                    Deliveries</a>
            </li>
        </ul>
        <ul class="flex space-x-4">
            <li th:if="${user != null}">
                <span>Welcome  <span th:text="${user.nameUser}"></span></span>
            </li>
            <li th:if="${deliveryMan != null}">
                <span>Welcome Delivery Man <span th:text="${deliveryMan.nameUser}"></span></span>
            </li>
            <li th:if="${user != null}">
                <a th:href="@{'/shoppingCart'}"><i class="fa-solid fa-cart-shopping"></i></a>
            </li>
            <li th:if="${user != null || deliveryMan != null}">
                <a class="hover:text-emerald-500" th:href="@{/logout}">Log out</a>
            </li>
            <li th:if="${user == null && deliveryMan == null}">
                <a th:href="@{/login}" class="hover:text-emerald-500">Sign In</a>
            </li>
            <li th:if="${user == null && deliveryMan == null}">
                <a th:href="@{/register}" class="hover:text-emerald-500">Register</a>
            </li>
        </ul>

    </div>
</nav>


<main class="container mx-auto mt-8 flex-grow">


    <div class="max-w-7xl mx-auto px-4 py-8 sm:px-6 lg:px-8 bg-gray-800 rounded-lg mt-16 flex-grow">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
            <div class="lg:col-span-1 rounded-lg">
                <img th:src="${product.productImage}" src="../static/images/intel_core_i7.jpg" alt="Image of product"
                     class="object-cover h-96 w-96 rounded-lg">
            </div>
            <div class="lg:col-span-2">
                <h1 th:text="${product.productName}" class="text-2xl font-bold tracking-tight text-white text-center">
                    Product Name</h1>
                <p th:text="${product.productDescription}" class="mt-2 text-base text-gray-300">Product description</p>
                <div class="mt-4">
                    <div class="flex items-center justify-between">
                        <div>
                            <span th:text="${product.productPrice + ' ден.'}"
                                  class="text-xl font-semibold text-white mr-2">Price:</span>
                        </div>
                        <div th:unless="${deliveryMan != null}">
                            <span class="text-lg font-semibold text-white mr-2">Quantity:</span>
                            <label for="quantity"><input type="number" id="quantity" name="quantity" min="1" value="1"
                                                         class="w-16 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"></label>
                            <a th:href="${user != null} ? @{'/shoppingCart/' + ${product.productId}} : '/login'"
                                    class="px-4 py-2 bg-indigo-500 text-white font-bold rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 ml-5">
                                Add to cart
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Review Section -->
                <div class="mt-8">
                    <div class="mt-16 flex items-center justify-between">
                        <h2 class="text-xl font-semibold text-white">Product Reviews</h2>
                        <button type="button" id="addReviewBtn"
                                class="px-4 py-2 bg-indigo-500 text-white font-bold rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 ml-5">
                            Add a Review
                        </button>
                    </div>

                    <!-- Popup for the review form -->
                    <div id="reviewPopup"
                         class="fixed top-0 left-0 w-full h-full bg-gray-900 bg-opacity-50 flex justify-center items-center"
                         style="display: none;">
                        <div class="bg-white rounded-lg p-8 max-w-6xl">
                            <button class="absolute top-0 right-0 mt-2 mr-2 text-gray-600" onclick="closePopup()">
                                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M6 18L18 6M6 6l12 12"></path>
                                </svg>
                            </button>
                            <form id="reviewForm">
                                <input type="hidden" name="productId" th:value="${product.productId}"/>
                                <div class="mb-4">
                                    <label for="reviewRating"
                                           class="block text-gray-700 text-sm font-bold mb-2">Rating:</label>
                                    <input type="number" name="reviewRating" id="reviewRating" min="1" max="5" required
                                           class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                                </div>
                                <div class="mb-6">
                                    <label for="reviewDescription" class="block text-gray-700 text-sm font-bold mb-2">Description:</label>
                                    <textarea name="reviewDescription" id="reviewDescription" required
                                              class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
                                </div>
                                <div class="flex justify-end">
                                    <button type="submit"
                                            class="px-4 py-2 bg-indigo-500 text-white font-bold rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                        Submit Review
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>


                    <div class="mt-4">
                        <ul>
                            <li th:each="review : ${reviews}" class="border-2 rounded-2xl m-5 box-border">
                                <div class="flex items-center m-5">
                                    <i class="fa-regular fa-star ml-2 mr-3" style="color: #ffffff;"></i>
                                    <p class="text-lg font-semibold mr-4 text-white"
                                       th:text="${review.reviewRating}"></p>
                                    <p class="text-lg text-white" th:text="${review.reviewDescription}"></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Footer -->
<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 Tech Harbor. All rights reserved.™
    </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a th:href="@{'/aboutUs'}" class="hover:underline me-4 md:me-6">About</a>
            </li>
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
            </li>
            <li>
                <a href="#" class="hover:underline">Contact</a>
            </li>
        </ul>
    </div>
</footer>
</body>


</html>

<script th:inline="javascript">
    /*<![CDATA[*/
    document.getElementById('addReviewBtn').addEventListener('click', function () {
        document.getElementById('reviewPopup').style.display = 'flex';
    });

    function closePopup() {
        document.getElementById('reviewPopup').style.display = 'none';
    }

    document.getElementById('reviewForm').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent default form submission

        // Get form data
        var formData = new FormData(document.getElementById('reviewForm'));

        // Make AJAX request to submit the review
        fetch('/add-review', {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error submitting review');
                }
                closePopup();
                console.log('Redirecting...')
                window.location.href = '/product/' + formData.get('productId'); // Redirect to product page
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
    /*]]>*/
</script>



