<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./output.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex justify-center items-center h-screen">
<div class="bg-white p-8 rounded shadow-md max-w-md w-full">
    <h2 class="text-2xl font-semibold mb-6 text-center">Register</h2>
    <form th:action="@{/register}" method="post">
        <div class="mb-4">
            <label for="name" class="block text-gray-700 font-semibold">Name</label>
            <input type="text" id="name" name="name"
                   class="w-full mt-1 px-4 py-2 border rounded-md focus:outline-none focus:border-blue-400"
                   placeholder="Enter your name">
        </div>
        <div class="mb-4">
            <label for="username" class="block text-gray-700 font-semibold">Username</label>
            <input type="text" id="username" name="username"
                   class="w-full mt-1 px-4 py-2 border rounded-md focus:outline-none focus:border-blue-400"
                   placeholder="Enter your username">
        </div>
        <div class="mb-4">
            <label for="email" class="block text-gray-700 font-semibold">Email</label>
            <input type="email" id="email" name="email"
                   class="w-full mt-1 px-4 py-2 border rounded-md focus:outline-none focus:border-blue-400"
                   placeholder="Enter your email">
        </div>
        <div class="mb-4">
            <label for="phoneNumber" class="block text-gray-700 font-semibold">Phone Number</label>
            <input type="tel" id="phoneNumber" name="phoneNumber"
                   class="w-full mt-1 px-4 py-2 border rounded-md focus:outline-none focus:border-blue-400"
                   placeholder="Enter your phone number">
        </div>
        <div class="mb-6">
            <label for="password" class="block text-gray-700 font-semibold">Password</label>
            <input type="password" id="password" name="password"
                   class="w-full mt-1 px-4 py-2 border rounded-md focus:outline-none focus:border-blue-400"
                   placeholder="Enter your password">
        </div>
        <div class="mb-6">
            <label for="confirmPassword" class="block text-gray-700 font-semibold">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword"
                   class="w-full mt-1 px-4 py-2 border rounded-md focus:outline-none focus:border-blue-400"
                   placeholder="Confirm your password">
        </div>
        <button type="submit"
                class="w-full bg-blue-500 text-white font-semibold py-2 px-4 rounded-md hover:bg-blue-600 transition duration-300">
            Register
        </button>
    </form>
    <div class="text-center p-4">
        <p>Already have an account?</p>
        <a th:href="@{'/login'}" class="underline hover:text-emerald-500">Click here to Login</a>
    </div>
</div>
</body>
</html>
