<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="./output.css" rel="stylesheet">
</head>
<!-- Navbar -->
<nav class="bg-gray-800 text-white p-4 text-lg sm:text-xl"> <!-- Responsive font size -->
    <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center">
            <img src="/images/logoWhite.png" alt="Logo" width="100" height="100">
            <h1 class="text-2xl font-semibold ml-4 sm:text-3xl">Tech Harbor</h1> <!-- Responsive font size -->
        </div>
        <ul class="flex space-x-8">
            <li><a href="/" class="hover:text-emerald-500">Home</a></li>
            <li><a th:href="@{'/aboutUs'}" class="hover:text-emerald-500">About Us</a></li>
            <li th:if="${user != null}">
                <a th:href="@{'/orders/{id}' (id=${user.userId})}" class="hover:text-emerald-500">My Orders</a>
            </li>
            <li th:if="${user != null}">
                <a th:href="@{'/reviews/{id}' (id=${user.userId})}" class="hover:text-emerald-500">My Reviews</a>
            </li>
        </ul>
        <ul class="flex space-x-4">
            <li th:if="${user != null}">
                <span>Welcome  <span th:text="${user.nameUser}"></span></span>
            </li>
            <li th:if="${user != null}">
                <a th:href="@{'/shoppingCart'}"><i class="fa-solid fa-cart-shopping"></i></a>
            </li>
            <li th:if="${user != null}">
                <a class="hover:text-emerald-500" th:href="@{/logout}">Log out</a>
            </li>
            <li th:if="${user == null}">
                <a th:href="@{/login}" class="hover:text-emerald-500">Sign In</a>
            </li>
            <li th:if="${user == null}">
                <a th:href="@{/register}" class="hover:text-emerald-500">Register</a>
            </li>
        </ul>

    </div>
</nav>
<body>
<main class="container mx-auto mt-8">
    <h2 class="text-2xl font-bold mb-4">Shopping Cart</h2>

    <div th:if="${cartItems.isEmpty()}" class="text-center p-4">
        <p>Your cart is empty.</p>
        <a href="/" class="underline hover:text-emerald-500">Continue Shopping</a>
    </div>

    <div th:unless="${cartItems.isEmpty()}" class="my-8">
        <table class="w-full rounded-md border shadow">
            <thead>
            <tr class="text-center">
                <th class="px-4 py-2">Image</th>
                <th class="px-4 py-2">Product</th>
                <th class="px-4 py-2">Warranty</th>
                <th class="px-4 py-2">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cartItem : ${cartItems}" class="text-center bg-white hover:bg-gray-100">
                <td class="px-4 py-2">
                    <img th:src="${cartItem.productImage}" alt="Product Image" class="m-auto w-32 h-32 rounded-lg object-cover">
                </td>
                <td class="px-4 py-2">
                    <a th:href="@{'/product/{id}' (id=${cartItem.productId})}" class="font-bold hover:text-emerald-500">
                        <span th:text="${cartItem.productName}"></span>
                    </a>
                </td>
                <td class="px-4 py-2">
                    <span th:text="${cartItem.productWarranty} + ' years'"></span>
                </td>
                <td class="px-4 py-2">
                    <span th:text="${cartItem.productPrice} + ' ден.'"></span>
                </td>
            </tr>
            </tbody>

        </table>
        <div class="flex items-center justify-end mt-4">
        <span class="font-bold text-lg mr-8" th:text="'Total: ' + ${grandTotal} + ' ден.'"></span>
            <a href="#" class="px-4 py-2 bg-emerald-500 text-white rounded-md hover:bg-emerald-600">Checkout</a>
        </div>
    </div>
</main>
</body>
<!-- Footer -->
<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 Tech Harbor. All rights reserved.™
    </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a th:href="@{'/aboutUs'}" class="hover:underline me-4 md:me-6">About</a>
            </li>
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
            </li>
            <li>
                <a href="#" class="hover:underline">Contact</a>
            </li>
        </ul>
    </div>
</footer>
</html>